.article p {
    text-align: right;
    font-size:14px;
}
.article h3, .article a {
    text-align: center;
    font-size:18px;
    color: black;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px groove #000000; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px groove #000000; /* Firefox */
    column-rule: 1px groove #000000;
    font-size: 16px;
}
