.article p {
    text-align: right;
    font-size:14px;
}
.article h3, .article a {
    text-align: center;
    font-size:18px;
    color: black;
}

.newspaper {
    font-size: 19px;
    text-align: justify;
}

#content img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#content h2{
    text-align: center;
}

.content {
    background-color: #FFFFFF;
}