<!-- left side column -->
<div class="col-md-2">
    <div class="panel panel-default" id="sidebar">
    <div class="panel-heading" style="background-color:#888;color:#fff;">Sidebar</div> 
    <div class="panel-body">
    <ul class="nav nav-stacked">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Accordion
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    Content here for links, ads, etc.. 
                </div>
            </div>
        </div>
        <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Accordion
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Another collapse panel. Content here for links, ads, etc.. 
                    </div>
                </div>
            </div>
    </div><!--/acc-->

      <hr>

    <div class="col col-span-12">
      <i class="icon-2x icon-facebook"></i>&nbsp;
      <i class="icon-2x icon-twitter"></i>&nbsp;
      <i class="icon-2x icon-linkedin"></i>&nbsp;
      <i class="icon-2x icon-pinterest"></i>
    </div>

    </div><!--/panel body-->
  </div><!--/panel-->
</div><!--/end left column-->