<div class="col-md-3">
    <div class="panel" id="midCol">
        <div class="panel-body">

            <div class="well">
                <h5><a href="#/"><i class="glyphicon glyphicon-home"></i><br />Home</a></h5>
            </div>

            <hr>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/modal" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Modal</strong></a></h5>
                    <small>Examples using the Bootstrap modal.</small><br>
                    <span class="badge">87</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/slider" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Carousel</strong></a></h5>
                    <small>How to use the Bootstrap slider.</small><br>
                    <span class="badge">322</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/typography" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Typography</strong></a></h5>
                    <small>See the various textual elements and options.</small><br>
                    <span class="badge">44</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/80/F0F0F0">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/tagged/media" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>@Media</strong></a></h5>
                    <small>Use @media queries to get the layout you want.</small><br>
                    <span class="badge">119</span>
                </div>
            </div>

        </div>
    </div><!--/panel-->
</div><!--/end mid column-->
