<div class="col-md-3"  data-ng-controller="rightSidebar as vm">
    <div class="panel" id="midCol">
        <div class="panel-body">

            <div class="media" data-ng-repeat="article in vm.writersArticles">
                <a class="pull-left" href="#">
                    <img class="media-object" data-ng-src="{{article.pictures}}" style="width: 50px;height: 50px;">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="#/article/{{article.id}}"><strong>{{article.title}}</strong></a></h5>
                </div>
            </div>

        </div>
    </div><!--/panel-->
</div><!--/end mid column-->
