<section class="col-md-6">
    <div class="cycle-slideshow" data-ng-controller="gallery">

        <a
                data-ng-href='#{{vm.suburl}}/{{article.id}}'
                id="article_{{article.id}}"
                data-modal="modal-12" data-ng-click="vm.showArticle(article.id)"
                data-cycle-background="{{article.pictures}}"
                data-cycle-caption1="{{article.title}}"
                data-ng-repeat='article in articles'>
        </a>
        <div class="cycle-overlay"></div>
        <div class="cycle-caption"></div>
        <div class="cycle-pager"></div>
        <div class="matrix"></div>
        <div id="progress"></div>
    </div>
    <!--<div class="shadow"></div>-->
    <div id="adv-custom-pager" class="center external"></div>
</section>