<section class="col-md-9" id="content" data-ng-controller="portal as vm" >
    <div class="row">
        <div class="thumbs">
            <div class="col-md-3" style="height:350px;" data-ng-repeat='article in vm.articles'>
                <div class="thumbnail">
                    <img style="max-height:100px" class="img-responsive" data-ng-src="{{article.pictures}}" alt="{{article.title}}" />
                    <div class="caption">
                        <h4 class="text-center" ><a href="#/article/{{article.id}}">{{article.title}}</a></h3>
                        <p>{{article.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--
    <div class="panel">
        <div class="panel-body">

        <div class="row">
          <div class="col-md-8">
            <a href="#/article/{{vm.articles[0].id}}"><img data-ng-src="{{vm.articles[0].pictures}}" alt="{{vm.articles[0].title}}" class="img-responsive"/></a>
            <h2>{{vm.articles[0].title}}</h2>
            {{vm.articles[0].content}}
          </div> 
          <div class="col col-sm-4">
            <a href="#/article/{{vm.articles[1].id}}"><img data-ng-src="{{vm.articles[1].pictures}}" alt="{{vm.articles[1].title}}" class="img-responsive"/></a>
            <h4>{{vm.articles[1].title}}</h4>
            <hr>
            <a href="#/article/{{vm.articles[2].id}}"><img data-ng-src="{{vm.articles[2].pictures}}" alt="{{vm.articles[2].title}}" class="img-responsive"/></a>
            <h4>{{vm.articles[2].title}}</h4>
          </div>   
        </div>
    <hr />
    <div class="panel-body">

      <div class="well text-center"> 
        <h2>{{vm.articles[3].title}}</h2>
        {{vm.articles[3].content}}
        <br><br>
        <div style="font-size:70pt">
          <i class="glyphicon"><img data-ng-src="{{vm.articles[3].pictures}}" alt="{{vm.articles[3].title}}" class="img-responsive"/></i>
        </div>
      </div>

      <hr>

        <span data-ng-repeat='article in vm.articles' data-ng-show='$index > 3'>
            <hr>

            <div class="row">
            <div class="col-md-6">
              <img data-ng-src="{{vm.articles[$index].pictures}}" alt="{{vm.articles[$index].title}}" class="img-responsive"/>

            </div> 
            <div class="col-md-6">
              <h3>{{vm.articles[$index].title}}</h3>
                {{vm.articles[$index].content}}
            </div>   
            </div>

        </span>
      <hr>

      <h2>Responsive Text</h2>
      Have you ever seen large text blocks overflow their container, or get cut-off? One way to handle this is to ensure
      the text content wraps inside the container. But the more "responsive" way is to scale font-sizes accordingly as the size of the viewing area
      (viewport) changes. Creators of <a href="http://fittextjs.com/">FitText</a> have mastered this in the form of a plugin.

      <hr>


      <div class="well"> 
        <h1>Well..</h1>
        Does anyone know why <a href="#">@mdo</a> or <a href="#">@fat</a> would name this element a "well"?
      </div>

      <hr>

      <h2>Responsive Images</h2>
      The sizing "grid" is not the only aspect of responsive design. Making images and media object scale correctly is another consideration for responsive developers.
      <span class="hidden-sm">Go ahead and shrink your browser's width to see how the HTML elements and images respond as the width of the viewport changes.</span>

      <h1><a href="#"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a></h1>

      <hr>

      Bootstrap 3 is the latest "Mobile-first" release of the Bootstrap framework that offers a starter foundation for Web designers and developers.
      Bootstrap consists of a CSS and JavaScript library. To use Bootstrap, you simply include (reference) in the HTML of your Web page. There is also a CDN for 
      Bootstrap that serves pages faster.

      <hr>

      This theme was made at Bootply. Bootply is a HTML, JavaScript and CSS editor app built just for Bootstrap. Bootply enables developers to easily apply the Bootstrap Framework to their projects using a beautiful hand-coding interface. The browser-based Bootply editor lets developers select and paste Bootstrap friendly code snippets. Bootply can be used to test, manage and share any Bootstrap code, from small snippets to entire Bootstrap-ready themes. Find it at http://bootply.com

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/EDEDED" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/DDDDDD" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/555555/EEE" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/F3F3F3" class="img-responsive"></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/999999/DDD" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/CCCCCC" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/EDEDED" class="img-responsive"></a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="#"><img src="//placehold.it/600X200/E0E0E0" class="img-responsive"></a>
        </div>
      </div>

      <hr>
      <h4><a href="http://bootply.com/69913">Edit on Bootply</a></h4>
      <hr>

      </div>
-->
            <!--/panel-body-->
    <!--/end right column-->
</section>