<div data-ng-controller="portal as vm" data-ng-show="vm.viewsGroups.length > 0">
    <div class="row" data-ng-repeat="viewsGroup in vm.viewsGroups">
        <div data-ng-repeat="view in viewsGroup">
            <div data-ng-include="'app/portal/' + view.name + '.html'" data-ng-init="articles = view.articles"></div>
        </div>
    </div>

    <div class="md-modal md-effect-12" id="articleModal">
        <div class="md-content" class="container">
            <button type="button" class="md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{vm.selectedArticle.formattedTitle}}</h3>
            <img data-ng-show="vm.selectedArticle.pictures.length > 0" data-ng-src="{{vm.selectedArticle.pictures[0]}}" alt="{{vm.selectedArticle.title}}" class="img-responsive thumbnail"/>
            <div>
                <p>{{vm.selectedArticle.content}}</p>
                <!--<button class="md-close">Close me!</button>-->
            </div>
        </div>
    </div>

    <div class="md-overlay"></div>
</div>