<div data-ng-controller="portal as vm" data-ng-show="vm.viewsGroups.length > 0">
    <div class="row" data-ng-repeat="viewsGroup in vm.viewsGroups">
        <div data-ng-repeat="view in viewsGroup">
            <div data-ng-include="'app/portal/' + view.name + '.html'" data-ng-init="articles = view.articles"></div>
        </div>
    </div>

    <div class="md-modal md-effect-12" id="articleModal">
        <div class="md-content">
            <h3>{{vm.selectedArticle.title}}</h3>
            <div>
                <p>{{vm.selectedArticle.content}}</p>
                <button class="md-close">Close me!</button>
            </div>
        </div>
    </div>

    <div class="md-overlay"></div>
</div>