<section class="col-md-6">
    <div class="panel">
    <div class="panel-body">
        <div class="article" data-ng-repeat="articles in articles">
            <div class="row">
                    <div class="col-md-8 box">
                        <a href="#/article/{{articles[0].id}}"><img data-ng-src="{{articles[0].pictures}}" alt="{{articles[0].title}}" class="img-responsive"/></a>
                        <a href="#/article/{{articles[0].id}}"><h3>{{articles[0].title}}</h3></a>
                        <p>{{articles[0].content}}</p>
                        <button id="article_{{articles[0].id}}" data-modal="modal-12" data-ng-click="vm.showArticle(articles[0])">Just Me</button>
                    </div>
                    <div class="col-md-4 box">
                        <a href="#/article/{{articles[1].id}}"><img data-ng-src="{{articles[1].pictures}}" alt="{{articles[1].title}}" class="img-responsive"/></a>
                        <a href="#/article/{{articles[1].id}}"><h3>{{articles[1].title}}</h3></a>
                        <a href="#/article/{{articles[2].id}}"><img data-ng-src="{{articles[2].pictures}}" alt="{{articles[2].title}}" class="img-responsive"/></a>
                        <a href="#/article/{{articles[2].id}}"><h3>{{articles[2].title}}</h3></a>
                    </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6 box">
                    <img data-ng-src="{{articles[3].pictures}}" alt="{{articles[3].title}}" class="img-responsive"/>
                </div>
                <div class="col-md-6 box">
                    <a href="#/article/{{articles[3].id}}"><h3>{{articles[3].title}}</h3></a>
                    <p>{{articles[3].content}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>