<div class="header row">
    <div class="col-md-12">
        <div class="navbar navbar-default">
            <div class="navbar-header"><a class="navbar-brand" href="index.html">Almogtarbeen</a>
                <a
                class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="glyphicon glyphicon-bar"></span>
<span class="glyphicon glyphicon-bar"></span>
                    <span
                    class="glyphicon glyphicon-bar"></span>
                        </a>
            </div>
            <div class="container">
                 <h1>



                </h1>
                <div class="navbar-collapse collapse">
                    <ul class="nav pull-right navbar-nav">
                        <li> <a href="contact.html"><i class="glyphicon glyphicon-envelope"></i><br />Contact</a></li>
                        <li> <a href="about.html"><i class="glyphicon glyphicon-user"></i><br />About</a></li>
                        <li> <a href="services.html"><i class="glyphicon glyphicon-tasks"></i><br />Services</a></li>
                        <li class="current-page"> <a href="portfolio.html"><i class="glyphicon glyphicon-camera"></i><br />Portfolio</a></li>
                        <li> <a href="#"><i class="glyphicon glyphicon-comment"></i><br />Blog</a></li>
                        <li> <a href="index.html"><i class="glyphicon glyphicon-home"></i><br />Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
