<div class="header row">
    <div class="col-md-12">
        <div class="navbar navbar-default">
            <div class="navbar-header"><a class="navbar-brand" href="index.html">Almogtarbeen</a>
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
                    <span
                    class="glyphicon glyphicon-bar"></span>
                        </a>
            </div>
            <div class="container">
                 <h1>
                </h1>
                <div class="navbar-collapse collapse">
                    <ul class="nav pull-right navbar-nav">
                        <li> <a href="#">إعلام</a></li>
                        <li> <a href="#">سيدتي</a></li>
                        <li> <a href="#">طب وصحة</a></li>
                        <li> <a href="#">ثقافةوفنون</a></li>
                        <li> <a href="#">منوعات</a></li>
                        <li> <a href="#">علوم وتكنولوجيا</a></li>
                        <li> <a href="#">اخبار الرياضة</a></li>
                        <li> <a href="#">اقتصاد واعمال</a></li>
                        <li> <a href="#">الاخبار</a></li>
                        <li> <a href="#">قصة وشعر</a></li>
                        <li> <a href="#">مقالات</a></li>
                        <li> <a href="#">الاخبار</a></li>
                        <li class="current-page"> <a href="index.html">الرئيسية</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
